---
import './Services.css'
---

<section class="seccion_ceiling" >
    <div class="ceiling" >
        <h1>Cielorrasos Desmontables</h1>
        <div class="ceiling_image" >
            <img src="../../services/Mr-Placa-Antihumedad-Placas-de-Yeso-Antihumedad-Trabajo-Realizado.webp" alt="Fabricamos placas antihumedad">
        </div>
        <article class="article_ceiling" >
            <h2>¿Qué podemos ofrecerte?</h2>
            <h3>Tenemos un amplia trayectoria en placas antihumedad</h3>
            <p>
                Mr. Placa le ofrece un sistema de solución definitiva basado 
                en placas antihumedad. El método se basa en la micro evaporación 
                de la humedad contenida en paredes y techos del hogar. Ayudando 
                a prevenir manchas, hongos, salitre y malos olores, favoreciendo, 
                además, el embellecimiento del hogar y manteniendo un ambiente 
                confortable para su salud y la de su familia.
            </p>
        </article>
    </div>
    <div class="info" >
        <div>
            <h3>Sol</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Modelo-Sol.webp" alt="">
        </div>
        <div class="article" >
            <p>Consultanos por whatsapp o por nuestras redes para más modelos de cielorraso desmontables</p>
        </div>
        <div>
            <h3>Cuadrado</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Cielorraso-Desmontables-Modelo-Cuadrado.webp" alt="">
        </div>
        <div>
            <h3>Arenado</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Cielorraso-Desmontables-Modelo-Arenado.webp" alt="">
        </div>
    </div>
    <div class="coatings" >
        <article class="article_coatings" >
            <h2>¿Ténes dudas si es una buena opción?</h2>
            <h3>Contamos con garantía</h3>
            <p>
                Mr. Placa le ofrece una garantía de 10 años desde el momento de la instalación
            </p>
        </article>
        <h1>Revestimiento de Paredes</h1>
        <div class="coatings_image" >
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Revestimiento-Paredes.webp" alt="Fabricamos placas antihumedad">
        </div>
    </div>
    <div class="info" >
        <div>
            <h3>Ladrillo</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Modelo-Ladrillo.webp" alt="">
        </div>
        <div>
            <h3>Travertino</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Revestimiento-Pared-Modelo-Travertino.webp" alt="">
        </div>
        <div class="article">
            <p>Tenemos muchos más modelos para revestir tus paredes, consultanos!</p>
        </div>
        <div>
            <h3>Pizarra</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Modelo-pizarra.webp" alt="">
        </div>
    </div>
    <div class="ceiling" >
        <h1>Cielorraso Junta Tomada</h1>
        <div class="ceiling_image" >
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Cielorraso-Junta-Tomada.webp" alt="Fabricamos placas antihumedad">
        </div>
        <article class="article_ceiling" >
            <h2>¿Problemas de humedad?</h2>
            <h3>Podemos ayudarte a solucionarlo</h3>
            <p>
                Nuestros sistemas de placa antihumedad solucionan 
                de forma eficiente los diferentes tipos de problemas 
                de humedad, tanto como en paredes o techos
            </p>
        </article>
    </div>
    <div class="info" >
        <div>
            <h3>Ondas</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Modelo-Onda.webp" alt="">
        </div>
        <div class="article" >
            <p>Seguinos en nuestras redes para asesoramiento gratuito</p>
        </div>
        <div>
            <h3>Ubeda</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Modelo-Ubeda.webp" alt="">
        </div>
        <div>
            <h3>Alicante</h3>
            <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Revestimiento-Pared-Modelo-Alicante.webp" alt="">
        </div>
    </div>
</section>