.seccion_ceiling{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ceiling{
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    color: #fff;
    background-color: #709b91;
    h1{
        position: absolute;
        color: #fff;
        font-size: 2.5rem;
        z-index: 2;
        left: 10px;
        bottom: 0;
    }
}
.ceiling_image{
    position: relative;
    box-sizing: border-box;
    min-width: 60%;
    height: 100%  ;
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}
.ceiling_image::after{
    position: absolute;
    z-index: 1;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000b9;
    opacity: .6;
} 
.article_ceiling{
    padding: 10px;
}
.info{
    display: flex;
    width: 80%;
    div{
        width: 25%;
        position: relative;
        box-sizing: border-box;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
        h3{
            position: absolute;
            left: 10px;
            bottom: 0;
        }
    }
    .article{
        display: grid;
        align-items: center;
        text-align: center;
        color: #fff;
        background-color: #034a3b;
        p{
            padding-inline: 10px;
        }
    }
}
.coatings{
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: right;
    color: #fff;
    background-color: #709b91;
    h1{
        position: absolute;
        color: #fff;
        font-size: 2.5rem;
        z-index: 2;
        right: 10px;
        bottom: 0;
    }
}
.coatings_image{
    position: relative;
    box-sizing: border-box;
    min-width: 60%;
    height: 100%  ;
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}
.coatings_image::after{
    position: absolute;
    z-index: 1;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000b9;
    opacity: .6;
}
.article_coatings{
    padding: 10px;
}

@media 
    (width < 480px){
        .ceiling{
            display: block;
            width: 100%;
            h1{
                top: 0;
            }
        }
        .info{
            display: block;
            width: 100%;
            div{
                width: 100%;
            }
        }
        .article{
            height: 300px;
        }
        .coatings{
            display: block;
            width: 100%;
        }
    }