.form{
    display: grid;
    width: 300px;
    padding: 5px;
    label{
        font-size: .8rem;
    }
    input{
        height: 20px;
        background-color: transparent;
        border: none;
        color: #fff;
        border-bottom: solid 1px #fff;
        outline: none;
    }
    textarea{
        background-color: transparent;
        border: none;
        color: #fff;
        border-bottom: solid 1px #fff;
        outline: none;
        min-height: 40px;
        max-height: 40px;
        min-width: 300px;
        max-width: 300px;
    }
    p{
        color: #ee6868;
        margin: 0 0 5px 0;
        height: 20px;
        font-size: .7rem;
    }
}
.alert{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    right: 50%;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    background-color: #709b91;
    transform: translate(-50%,50%);
}
.box_button{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    button{
        border: none;
        color: #5a5a5a;
        font-weight: 600;
        width: 150px;
        height: 25px;
        margin-top: 15px;
        padding-bottom: 2px;
        border-radius: 3px;
        background-color: #ccc;
    }
}
