---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import Contact from '../components/Contact.astro';
import Services from '../components/services/Services.astro';
import Pagos from '../components/Pagos.astro';
---

<Layout title="Mr Placa Antihumedad">
	<main>
		<Landing/>
		<Contact/>
		<Services/>
		<Pagos/>
	</main>
</Layout>
