---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
---

<Layout title="Mr Placa Antihumedad">
	<main>
		<Landing/>
	</main>
</Layout>

<style>
	
</style>
