---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Mr Placa Antihumedad">
	<main>
		<Landing/>
		<Contact/>
	</main>
</Layout>
