---
---

<section>
    <div class="box_contact" >
        <div class="icons" >
            <svg width="24"
                 height="24"  
                 viewBox="0 0 24 24"  
                 fill="none"  
                 stroke="currentColor"  
                 stroke-width="2"  
                 stroke-linecap="round"  
                 stroke-linejoin="round"
                 >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z" />
                <path d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z" />
            </svg>
            <svg width="24"  
                 height="24"  
                 viewBox="0 0 24 24"  
                 fill="none"  
                 stroke="currentColor"  
                 stroke-width="2"  
                 stroke-linecap="round"  
                 stroke-linejoin="round"  
                 >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
            </svg>
            <div>
                <p>EMAIL: MRPLACASANTIHUMEDAD@GMAIL.COM</p>
                <p>AVENIDA LAMADRID 3346, 1879 QUILMES <br/> PROVINCIA DE BUENOS AIRES, ARGENTINA</p>
            </div>
        </div>
        <div class="whatsapp" >
            <svg width="50"  
                    height="50"  
                    viewBox="0 0 24 24"  
                    fill="none"  
                    stroke="currentColor"  
                    stroke-width="2"  
                    stroke-linecap="round"  
                    stroke-linejoin="round"
                    >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
            </svg>
            <p>011 5615 2426</p>
        </div>
    </div>
</section>

<style>
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #5a5a5a;
    }
    .box_contact{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }
    p{
        color: #ffff;
    }
    span{
        color: #ffff;
    }
    svg{
        border-radius: 50%;
        padding: 5px;
        background-color: #ffff;
    }
    img{
        width: 30px;
        height: 30px;
    }
    .icons{
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
        p{
            margin: 0;
        }
    }
    .whatsapp{
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
        p{
            font-size: 2.5rem;
        }
    }
    @media
        (width < 480px){
            .box_contact{
                display: block;
            }
        }
</style>