---

---
<section>
    <img src="../../logo.webp" alt="">
    <h1>PLACAS ANTIHUMEDAD</h1>
</section>

<style>
    section{
        display: ;
    }
    img{
        position: absolute;
        top: 30px;
        left: 100px;
        width: 170px;
    }
</style>