---
---
<section>
    <img src="../../logo.webp" alt="">
    <div>
        <h1>PLACAS ANTIHUMEDAD</h1>
        <h2>SOMOS FABRICANTES DE PLACAS DE YESO ANTIHUMEDAD EN LA CIUDAD DE QUILMES</h2>
        <a href="">Consulta</a>
    </div>
</section>

<style>
    section{
        display: grid;
        justify-content: left;
        align-items: center;
        height: 100vh;
    }
    div{
        margin-left: 50px;
    }
    a{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 25px;
        padding-bottom: 2px;
        border-radius: 3px;
        background-color: #ccc;
    }
    img{
        position: absolute;
        top: 30px;
        left: 50px;
        width: 170px;
    }
</style>