---
import Form from "./form/Form.jsx"
const SERVICE_ID = import.meta.env.SERVICE_ID
const TEMPLATE_ID = import.meta.env.TEMPLATE_ID
const USER_ID = import.meta.env.USER_ID
---

<section id="map" >
    <div class="container" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d52464.10116758104!2d-58.302015000000004!3d-34.730235!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32df79f4504b7%3A0x1fdc9f040456afa3!2sMr%20Placa%20antihumedad!5e0!3m2!1ses!2sus!4v1720795956690!5m2!1ses!2sus"
                width="100%" 
                height="400" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <div class="container_form" >
            <Form client:only
                  servisId={SERVICE_ID}
                  templateId={TEMPLATE_ID} 
                  userId={USER_ID} 
                  />
        </div>
    </div>
</section>

<style>
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .container_form{
        padding: 15px;
        color: #fff;
        background-color: #034a3b;
    }
    @media
        (width < 480px){
            .container{
                display: block;
                margin: 0;
                width: 100%;
            }
        }
</style>