---
---

<section>
    <div class="cielorraso" >
        <h1>Cielorrasos Desmontables</h1>
        <div class="ciellorraso_image" >
            <img src="../../services/Mr-Placa-Antihumedad-Placas-de-Yeso-Antihumedad-Trabajo-Realizado.webp" alt="Fabricamos placas antihumedad">
        </div>
        <article class="article_cielorraso" >
            <h2>¿Qué podemos ofrecerte?</h2>
            <h3>Tenemos un amplia trayectoria en placas antihumedad</h3>
            <p>
                Mr. Placa le ofrece un sistema de solución definitiva basado 
                en placas antihumedad. El método se basa en la micro evaporación 
                de la humedad contenida en paredes y techos del hogar. Ayudando 
                a prevenir manchas, hongos, salitre y malos olores, favoreciendo, 
                además, el embellecimiento del hogar y manteniendo un ambiente 
                confortable para su salud y la de su familia.
            </p>
        </article>
    </div>
    <div>
        <img src="" alt="">
        <article>
            <p>Consultanos por whatsapp o por nuestras redes para más modelos de cielorraso desmontables</p>
        </article>
        <img src="" alt="">
        <img src="" alt="">
    </div>
</section>

<style>
    section{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cielorraso{
        position: relative;
        display: flex;
        justify-content: center;
        width: 80%;
        h1{
            position: absolute;
            color: #fff;
            font-size: 3rem;
            z-index: 2;
            left: 10px;
            bottom: 0;
        }
    }
    .ciellorraso_image{
        width: 100%;
        height: 100%  ;
        position: relative;
    }
    .ciellorraso_image::after{
        position: absolute;
        z-index: 1;
        content: " ";
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background-color: #000000b9;
        opacity: .6;
    } 
    .article_cielorraso{
        padding: 10px;
    }
</style>