---
---

<section>
    <div class="ceiling" >
        <h1>Cielorrasos Desmontables</h1>
        <div class="ceiling_image" >
            <img src="../../services/Mr-Placa-Antihumedad-Placas-de-Yeso-Antihumedad-Trabajo-Realizado.webp" alt="Fabricamos placas antihumedad">
        </div>
        <article class="article_ceiling" >
            <h2>¿Qué podemos ofrecerte?</h2>
            <h3>Tenemos un amplia trayectoria en placas antihumedad</h3>
            <p>
                Mr. Placa le ofrece un sistema de solución definitiva basado 
                en placas antihumedad. El método se basa en la micro evaporación 
                de la humedad contenida en paredes y techos del hogar. Ayudando 
                a prevenir manchas, hongos, salitre y malos olores, favoreciendo, 
                además, el embellecimiento del hogar y manteniendo un ambiente 
                confortable para su salud y la de su familia.
            </p>
        </article>
    </div>
    <div class="info" >
        <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Modelo-Sol.webp" alt="">
        <article>
            <p>Consultanos por whatsapp o por nuestras redes para más modelos de cielorraso desmontables</p>
        </article>
        <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Cielorraso-Desmontables-Modelo-Cuadrado.webp" alt="">
        <img src="../../services/Mr-Placa-Antihumedad-en-la-Ciudad-de-Quilmes-Cielorraso-Desmontables-Modelo-Arenado.webp" alt="">
    </div>
</section>

<style>
    section{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ceiling{
        position: relative;
        display: flex;
        justify-content: center;
        width: 80%;
        h1{
            position: absolute;
            color: #fff;
            font-size: 2.5rem;
            z-index: 2;
            left: 10px;
            bottom: 0;
        }
    }
    .ceiling_image{
        position: relative;
        box-sizing: border-box;
        min-width: 60%;
        height: 100%  ;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .ceiling_image::after{
        position: absolute;
        z-index: 1;
        content: " ";
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background-color: #000000b9;
        opacity: .6;
    } 
    .article_ceiling{
        padding: 10px;
    }
    .info{
        display: flex;
        width: 80%;
        img{
            width: 25%;
        }
        article{
            display: grid;
            align-items: center;
            text-align: center;
            p{
                padding-inline: 10px;
            }
        }
    }
</style>