---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	:root::-webkit-scrollbar{
		width: 5px;
	}
	:root::-webkit-scrollbar-thumb{
		border-radius: 10px;
		background:#5d626680;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #F0F5FA;
		background-size: 224px;
	}
	body{
		margin: 0;
		color: #5a5a5a;
	}
	a{
		text-decoration: none;
		color: #5a5a5a;
		font-weight: 600;
	}
	p{
		font-size: .9rem;
		font-weight: 500;
		text-wrap: pretty;
	}
	h1{
		font-size: 3.5rem;
		font-weight: 600;
		margin: 0;
		letter-spacing: 3px;
		color: #0c5d50;
	}
	h2{
		font-size: 1rem;
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
